// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

$colors: (
  primary: #ffc83f,
  secondary: #fa5e5b,
  tertiary: #1d508d,
  quaternary: #684e79,
  text: #f1f1f1,
  bg-color: #181818,
);
